<%= form_with(model: @portfolio_item) do |portfolio_item| %>
  <div class="field">
    <%= portfolio_item.label :title %>
    <%= portfolio_item.text_field :title %>
  </div>

  <div class="field">
    <%= portfolio_item.label :subtitle %>
    <%= portfolio_item.text_field :subtitle %>
  </div>

  <div class="field">
    <%= portfolio_item.label :body %>
    <%= portfolio_item.text_area :body %>
  </div>

  <ul>
    <%= portfolio_item.fields_for :technologies do |technology_form| %>
    <li>
      <%= technology_form.label :name %>
      <%= technology_form.text_field :name %>
    </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= portfolio_item.submit %>
  </div>
<% end %>
